#!/bin/bash
set -ex 


SNAP_RPC="{{ statesync_uri }}"

LATEST_HEIGHT=$(curl -s $SNAP_RPC/block | jq -r .result.block.header.height); \
BLOCK_HEIGHT=$((LATEST_HEIGHT - {{ statesync_trust_height_offset }} )); \
TRUST_HASH=$(curl -s "$SNAP_RPC/block?height=$BLOCK_HEIGHT" | jq -r .result.block_id.hash)
SEEDS={{ seeds }}
TRUST_PERIOD={{ statesync_trust_period }}
RPC_SERVERS="{{ statesync_rpc_servers }}"

sed -i.bak -E "s|^(enable[[:space:]]+=[[:space:]]+).*$|\1true| ; \
s|^(rpc_servers[[:space:]]+=[[:space:]]+).*$|\1\"$RPC_SERVERS\"| ; \
s|^(trust_height[[:space:]]+=[[:space:]]+).*$|\1$BLOCK_HEIGHT| ; \
s|^(trust_hash[[:space:]]+=[[:space:]]+).*$|\1\"$TRUST_HASH\"| ; \
s|^(trust_period[[:space:]]+=[[:space:]]+).*$|\1\"$TRUST_PERIOD\"| ; \
s|^(seeds[[:space:]]+=[[:space:]]+).*$|\1\"$SEEDS\"|" $HOME/{{ folder }}/config/config.toml
