#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

echo "Sourcing profile to pull go bin path in"
. ~/.profile

# relayer servers ARE the state-sync servers, so we restore them from snapshot rather than state-sync
echo "Cleaning up relayer server by stopping the daemon, removing chain data, and then restoring from snapshot."

# stop daemon
echo "Stopping {{ network }} daemon to wipe the chain data"
sudo systemctl stop {{ network }}
sleep 5

echo "Removing chain data with unsafe-reset-all"
{{ daemon }} tendermint unsafe-reset-all

echo "Restoring from snapshot"
{{ user_dir }}/snapshot/restore_snapshot_{{ network }}.sh

# Restart the service
echo "Restarting {{ network }} daemon"
sudo systemctl start {{ network }}

