#!/bin/bash
set -euox pipefail
IFS=$'\n\t'
DATE=$(date +"%Y-%m-%d-%T")

echo "Sourcing profile to pull go bin path in"
. ~/.profile

# stop service before unarchiving 
echo "Stopping {{ network }} daemon to pull the chain data from remote snapshot archive"
sudo systemctl stop {{ network }}
sleep 5

# backup existing addrbook.json
echo "Backing up addrbook.json" 
if [ -f {{ user_dir }}/{{ folder }}/config/addrbook.json ]; then
cp {{ user_dir }}/{{ folder }}/config/addrbook.json {{ user_dir }}/{{ folder }}/config/addrbook.json.$DATE
fi

# pulling addrbook.json from snapshot bucket
echo "pulling addrbook.json from snapshot bucket"
rclone copy remote:{{ snapshot_bucket }}/addrbook.json {{ user_dir }}/{{ folder }}/config/

# find the latest snapshot in the bucket
echo "Finding the latest snapshot in the bucket"
#SNAPSHOTS=$(rclone lsf remote:{{ snapshot_bucket }})
#LATEST_SNAPSHOT=$(echo $SNAPSHOTS | tail -n 1)
LATEST_SNAPSHOT=$(rclone lsf remote:{{ snapshot_bucket }} | tail -n 1)

# download latest snapshot
echo "downloading and extracting the latest snapshot"
rclone cat remote:{{ snapshot_bucket }}/$LATEST_SNAPSHOT \
| lz4 -c -d - | tar -x -C {{ user_dir }}/{{ folder }}

# Restart the service
echo "Restarting {{ network }} daemon"
sudo systemctl start {{ network }}
